#sidebar {
    width: 15%;
    height: 1000px;
    float: left;
    border: 0.1px solid #edebef;
}

#catogories_heading {
    margin-left: 25px;
    font-weight: bold;
    font-family: Montserrat;
    margin-top: 10px;
    margin-bottom: 3px;
}

.form-check {
    margin-left: 25px;
}

hr {
    border: 0.1px solid #edebef;
}

#color-circle {
    width: 12px;
    height: 12px;
    background-color: red;
    border: 2px solid red;
    border-radius: 7px 7px 7px 7px;
}

.form-check-label {
    font-family: Lato, Arial, sans-serif;
}
